/* 
====== 
Variables 
======
*/
:root {
  --bgColorMain: #1b1b1e;
  --bgColorLight: #2e2e30;
  --bgColorLighter: #424245;
  --textColorMain: #ffc;
  --textColorLight: #baa;
  --buttonTextColor: #ffc;
  --buttonTextColorHover: #070709;
  --accentColor1: #ff9c74;
  --accentColor2: #ffc956;

  --buttonBorder: 2px solid var(--accentColor1);

  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.2);
  --darkShadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.6);
  --buttonGlow: 0px 0px 10px -5px var(--accentColor2);
  --insetBorder: inset 0px 0px 0px 1.5px;
  --mainBorderRadius: 0.5em;

  --sansSerifFont: "Montserrat", sans-serif;
  --serifFont: "Roboto Slab", serif;
  --logoFont: "Lobster", cursive;

  --mainGradient: linear-gradient(
    45deg,
    var(--accentColor1),
    #ffac68,
    var(--accentColor2)
  );
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--bgColorMain);
  color: var(--textColorMain);
  font-family: var(--sansSerifFont);
  line-height: 1.4;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
  max-width: 60ch;
}

ul {
  list-style-type: none;
}

a {
  opacity: 50%;
  display: inline-block;
  text-decoration: none;
  color: var(--accentColor1);
  transition: var(--mainTransition);
}

a::after {
  content: "";
  display: block;
  transform: scale(0, 1);
  height: 1.5px;
  background: var(--accentColor2);
  transition: var(--mainTransition);
}

a:hover::after,
a:focus::after {
  transform: scale(1, 1);
}

a:hover,
a:focus {
  opacity: 100%;
  color: var(--accentColor2);
}

input {
  padding: 0.5rem;
  border: none;
  background-color: var(--bgColorLighter);
  color: var(--textColorLight);
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
  margin-bottom: 1rem;
}

input:focus {
  box-shadow: var(--insetBorder) var(--accentColor2);
}

img {
  width: 100%;
  display: block;
}

footer {
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  background-color: var(--bgColorLight);
}

button {
  font-family: var(--sansSerifFont);
  background-color: rgba(0, 0, 0, 0);
  color: var(--buttonTextColor);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  border-radius: var(--mainBorderRadius);
  border: none;
  box-shadow: var(--insetBorder) var(--accentColor1);
  transition: var(--mainTransition);
  padding: 0.5em;
}

button:hover,
button:focus {
  color: var(--buttonTextColorHover);
  background-color: var(--accentColor2);
  box-shadow: var(--buttonGlow);
}

/* 
====== 
HOME 
======
*/

.homescreen {
  min-height: 100vh;
  padding: 0 4rem;
}

.homescreen-content {
  display: grid;
  gap: 2rem;
  padding-top: 10vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "welcome loginOrCreateAccount";
  justify-items: stretch;
  min-height: 60vh;
}

.welcome {
  grid-area: "welcome";
  border-radius: var(--mainBorderRadius);
  text-align: center;
}

.welcome h1 {
  font-family: var(--logoFont);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
  background-image: var(--mainGradient);
  background-clip: text;
  color: transparent;
  background-size: 800%;
  animation: bg-animation 5s infinite;
}
.welcome h2 {
  color: var(--textColorLight);
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.login-or-create-account {
  grid-area: "loginOrCreateAccount";
  place-self: end;
  padding: 1rem 3rem 2rem 3rem;
  max-width: 60ch;
  margin-bottom: 2rem;
  width: 100%;
  background-color: var(--bgColorLight);
  box-shadow: var(--lightShadow);
  border-radius: var(--mainBorderRadius);
}

.login-or-create-account h1 {
  color: var(--textColorMain);
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--serifFont);
  font-weight: 300;
}

.loginForm {
  height: auto;
  margin-bottom: 3rem;
}

.loginForm input {
  width: 100%;
}

.loginForm button {
  width: 100%;
}

.create-acc-or-guest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "register enterAsGuest";
  justify-items: center;
}

#register-btn {
  grid-area: "register";
  width: 100%;
}

#enter-as-guest-btn {
  grid-area: "enterAsGuest";
  width: 100%;
}

/* 
====== 
ABOUT 
======
*/

.about {
  min-height: 100vh;
  padding: 3rem;
  background-image: var(--lightGradient);
}
.about h1 {
  font-family: var(--serifFont);
  color: var(--textColorMain);
  text-align: center;
  font-size: 1.75rem;
}
.about p {
  color: var(--textColorLight);
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

/* 
====== 
ERROR 
======
*/

.error-page {
  height: 100vh;
  background-image: var(--lightGradient);
  padding: 3rem;
}

/* 
====== 
MEDIA QUERIES
======
*/

@media (max-width: 1100px) {
  .homescreen-content {
    margin-top: 1rem;
    padding-top: 0;
    gap: 5rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "welcome"
      "loginOrCreateAccount";
  }
  .login-or-create-account {
    margin-bottom: 2rem;
    place-self: center;
  }
  .welcome h1 {
    font-size: 6rem;
  }
  .welcome h2 {
    font-size: 1.2rem;
  }
}
